body {
    background-color: beige;
}

.hidden {
    display: none;
}

h1 {
    color: white;
}

h2 {
    color: red;
    transition:color .5s ease-in-out;
}

span {
    color: white;
}

.clock {
    color: cornflowerblue;
    transition:color .5s ease-in-out;
}

.quote {
    color: red;
}
.author {
    color: blue;
}